In [3]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("Spark Count")
sc = SparkContext.getOrCreate(conf=conf)

spark = SparkSession \
    .builder \
    .appName("Python Spark create RDD example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

# Creating two list a and b as tuple

In [5]:
a = [("spark",), ("rdd",), ("python",), ("context",), ("create",), ("class",)]
b = [("operation",), ("apache",), ("scala",), ("lambda",),("parallel",),("partition",)]

# Creating spark dataframe and giving alias name as ta and tb

In [10]:
tba = spark.createDataFrame(a,['col_ta',])
tbb=spark.createDataFrame((b),['col_tb',])
ta = tba.alias('ta')
tb = tbb.alias('tb')
ta.show()
tb.show()

+-------+
| col_ta|
+-------+
|  spark|
|    rdd|
| python|
|context|
| create|
|  class|
+-------+

+---------+
|   col_tb|
+---------+
|operation|
|   apache|
|    scala|
|   lambda|
| parallel|
|partition|
+---------+

# Joining the table using right outer join
- comparing the data of ta and tb to create right outer join

In [11]:
right_outer_join = ta.join(tb, ta.col_ta == tb.col_tb,how='right_outer').show()

+------+---------+
|col_ta|   col_tb|
+------+---------+
|  null|operation|
|  null|   lambda|
|  null|partition|
|  null| parallel|
|  null|    scala|
|  null|   apache|
+------+---------+

# Joining the table using Full outer join
comparing the data of ta and tb to create full outer join

In [12]:
full_outer_join = ta.join(tb, ta.col_ta == tb.col_tb,how='full_outer').show()

+-------+---------+
| col_ta|   col_tb|
+-------+---------+
|   null|operation|
|   null|   lambda|
|context|     null|
|   null|partition|
| create|     null|
|    rdd|     null|
|   null| parallel|
|   null|    scala|
|   null|   apache|
|  spark|     null|
|  class|     null|
| python|     null|
+-------+---------+

# Counting 's' using map and reduce
   The data is parallelized then flatmap is used to map the data and reducebykey function is used

In [15]:
#count "s" using map reduce
char_counts_a = sc.parallelize(a).flatMap(lambda each: each[0].count('s')).map(lambda char: char).map(lambda c: (c, 1)).reduceByKey(lambda v1, v2: v1 + v2)
lis_a = char_counts_a.show()
char_counts_b = sc.parallelize(b).flatMap(lambda each: each[0].count('s')).map(lambda char: char).map(lambda c: (c, 1)).reduceByKey(lambda v1, v2: v1 + v2)
lis_b = char_counts_b.show()

print("For a the occurance of s is :",char_counts_a)
print("For a the occurance of s is :",char_counts_b)
print("For a the occurance of s is :",lis_a,'****',"For b the occurance of s is :",lis_b)

For a the occurance of s is : PythonRDD[99] at RDD at PythonRDD.scala:53
For a the occurance of s is : PythonRDD[105] at RDD at PythonRDD.scala:53

For a the occurance of s is : 3****
For b the occurance of s is : 1

# Counting 'S' using using aggregate function
 The data is parallelized then agregated using lambda function to count 's' for both a and b

In [16]:
#count using aggregate fuction
count_a_aggregate=sc.parallelize(a).aggregate(0, lambda i, x: i + x[0].count('s'), lambda i, j: i+j)
print("For a the occurance of s is :",count_a_aggregate)
count_b_aggregate=sc.parallelize(b).aggregate(0, lambda i, x: i + x[0].count('s'), lambda i, j: i+j)
print("For b the occurance of s is :",count_b_aggregate)

For a the occurance of s is : 3
For b the occurance of s is : 1